/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

img, video, iframe, picture, figure{
    max-width: 100%;
    display: block;
}

p a{
    display: inline;
}

form, input, select, textarea, button, label, a{
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;
}